In [52]:
import pandas as pd

In [11]:
data = pd.read_csv('./data/dat0121-0208.csv')

/Users/exudingtao/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
data.head(3)

,nickname,user_id,content,tweetnum,comnum,thumbnum,timestamp,time,tweet_type,y,date,fdate,hour
0,trymyself_supportyou,5650314857,"网课//@SgKsItAll:推荐astrlass,尤其是为兴趣而学的。太”ldshl”了",0,0,1,2020-01-21 22:51:00,01月21日 22:51,1,2020年,2020-01-21,2020-01-21,22
1,星雨宇宙,5754833360,为了#自律#，成为更好的自己加油！<U+2728>Day21真的坚强和想要坚强是两码事·练字...,0,0,0,2020-01-21 22:29:00,01月21日 22:29,0,2020年,2020-01-21,2020-01-21,22
2,Opiummm_L,6338323579,2020.1.21//程路明把我从3.9捞到4.2，郑妈直接把忘看的我拉上满绩，都是什么神仙...,0,0,0,2020-01-21 22:24:00,01月21日 22:24,0,2020年,2020-01-21,2020-01-21,22

In [35]:
data1 = pd.read_csv('./data/0-教师，1-学生.csv')

/Users/exudingtao/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,3,7,8,9,10,12,13,14,20,21,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
data2 = pd.read_csv('./data/0121-0210 new.csv')

In [18]:
len(data)

207544

In [19]:
len(data2)

386652

In [20]:
len(data1)

1569

In [24]:
data2.columns

Index(['keyword', '昵称', 'uid', '微博', '转发数', '评论数', '点赞数', '时间', '发布工具', '采集链接',
       '认证', 'mid', 'forward_flag', '定位', 'video_flag', '视频播放数', '#', '@',
       '图片数', '表情数', '采集时间', '原博主', '原微博点赞数', '原微博评论数', '原微博转发数', '原微博发布时间',
       '原微博内容'],
      dtype='object')

In [25]:
data.columns

Index(['nickname', 'user_id', 'content', 'tweetnum', 'comnum', 'thumbnum',
       'timestamp', 'time', 'tweet_type', 'y', 'date', 'fdate', 'hour'],
      dtype='object')

In [36]:
data1 = data1[['标识（0-教师，1-学生）','微博']]

In [39]:
data1.rename(columns={'标识（0-教师，1-学生）':'target','微博':'content'},inplace=True)

In [41]:
data1.dropna()

      target                                            content
0        0.0  这疫情局势有点严重啊~~~，决定不回老家过年了，寒假就留在北京，不然就算出去了到时也讲不定会...
1        1.0  继续在线卑求延期控制传染源减少流动性大学生一个宿舍好几个人几十个人一上课离武汉那么近控制的了...
2        0.0  广东还没有出消息；但如果延期开学的话，老师和学生的压力只会更大。我现在在想，哪个平台可以视频...
3        0.0                              我我什么还要在线教学，这不是逼着我洗头吗？
4        0.0  #武汉市中小学2月10日线上开课#评论里质疑有没有用的一看就是没上过网络课，坐标江苏，之前高...
...      ...                                                ...
1559     1.0    事情一定要提前做准备啊！！！这疫情推迟开学我去不了幼儿园调查，我的论啊啊啊啊啊啊啊啊我可烦死了
1560     1.0                 买完口罩发现买错了退了又买了100只🙏🙏🙏大概率过几天推迟开学吧……
1561     1.0  //@一川草木深:武汉高校特别多，100W大学生，希望大学可以推迟开学，减少春运后的大规模人...
1562     1.0  #黄冈新增12例新型肺炎#真的没想到黄冈因为这个上热搜大家出门都戴口罩吧武汉的尽量别到处跑别...
1563     1.0  最近最讨厌的就是停课不停学，免费送网课的这帮奸商，让大家心灵安静点，别老搞知识焦虑，我少学几...

[1564 rows x 2 columns]

In [43]:
data1.to_csv('./data/train_test_data.csv',index=False)

In [59]:
from functools import reduce
reduce(lambda x,y:x*10+y,[1,2,3,4,5])#前面函数后面参数

12345

In [60]:
6/4

1.5

In [70]:
l = [(1,3),(2,4)]

In [74]:
l = [(1,3),(2,4)]
a = zip(*l)
for i,j in a:
    print(i,j)

1 2
3 4